/* Estilos generales */
body {
    background-color: #f8f9fa; /* Color de fondo claro */
    font-family: Arial, sans-serif; /* Fuente general */
}

.container {
    max-width: 800px; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Añade espacio interior */
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

h1 {
    color: #06182b; /* Color azul para el título */
    text-align: center; /* Centra el texto del título */
}

.form-group label {
    font-weight: bold; /* Texto en negrita para las etiquetas */
    color: #333; /* Color oscuro para las etiquetas */
    padding-top: 10px;
    
}


.form-control, .form-select {
    border: 1px solid #ced4da; /* Borde gris claro para los campos */
    border-radius: 4px; /* Bordes redondeados para los campos */
}

.form-control:focus, .form-select:focus {
    border-color: #007bff; /* Borde azul al enfocar el campo */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Sombra azul clara al enfocar */
}



.btn {
    width: 50%; /* Botón ocupa el 50% del ancho del contenedor */
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 10px; /* Espacio interior del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    display: block; /* Necesario para que el margin auto funcione correctamente */
}

.btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
}

.btn-primary:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
    border-color: #004085; /* Color del borde más oscuro al pasar el mouse */
}

/* Estilo para mensajes de error */
.error-message {
    color: red; /* Color rojo para los mensajes de error */
    font-weight: bold; /* Negrita para destacar */
    margin-bottom: 20px; /* Espacio inferior */
}
