{% extends 'base.html' %}

{% block content %}

<h1>Registros de Pacientes</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Brand</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex ms-auto" style="flex-grow: 1;">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 100%;">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<table class="table table-striped mt-3">  <!-- Tabla estilizada con Bootstrap -->
  <thead>
    <tr>
      <th>ID</th>  <!-- Asegúrate de mostrar el ID del paciente -->
      <th>Nombre de Usuario</th>
      <th>Nombre(s)</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Género</th>
      <th>Uso de Medicamentos</th>
      <th>Actividad Física</th>
      <th>Teléfono</th>
      <th>Correo Electrónico</th>
      <th>Fecha de Nacimiento</th>
      <th>Acciones</th>  <!-- Columna para acciones como ver detalles -->
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td>{{ paciente.id }}</td>  <!-- Muestra el ID del paciente -->
      <td>
        <a href="{% url 'paciente_detail' paciente.id %}">  <!-- Enlace a la vista de detalles del paciente -->
          {% if paciente.user.username %}  <!-- Asegúrate de acceder al campo correcto -->
            <strong>{{ paciente.user.username }}</strong>  <!-- Asume que el nombre de usuario está en la relación user -->
          {% else %}
            {{ paciente.user.username }}
          {% endif %}
        </a>
      </td>
      <td>{{ paciente.nombre_paciente }}</td>  <!-- Cambiar description a nombre_paciente -->
      <td>{{ paciente.apellido_paterno }}</td>
      <td>{{ paciente.apellido_materno }}</td>
      <td>{{ paciente.sexo }}</td>  <!-- Muestra el sexo del paciente -->
      <td>{{ paciente.uso_de_medicamentos }}</td>  <!-- Muestra el uso de medicamentos -->
      <td>{{ paciente.actividad_fisica }}</td>  <!-- Muestra la actividad física -->
      <td>{{ paciente.telefono }}</td>
      <td>{{ paciente.correo }}</td>  <!-- Asegúrate de mostrar el correo -->
      <td>{{ paciente.fecha_nacimiento|date:'j M Y' }}</td>  <!-- Formato de fecha -->
      <td>
        <a href="{% url 'paciente_detail' paciente.id %}" class="btn btn-info btn-sm">Ver Detalles</a>  <!-- Botón para ver detalles -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
